.card {
    padding: 24px 48px;
    width: 484px;
    border-radius: 10px;
    background: #ffffff;
}

input::-webkit-calendar-picker-indicator {
    background-image: url('./images/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

select {
    width: 130px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1a202c;
    z-index: 2;
    background: none;
}

.bigDot,
.bigSecondDot {
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: rgba(53, 99, 233, 0.3);
    border-radius: 70px;
}

.bigSecondDot {
    background: rgba(92, 175, 252, 0.3);
}

.smallDot,
.smallSecondDot {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #3563e9;
    border-radius: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallSecondDot {
    background: #5caffc;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1a202c;
}

.itemDropdownTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #90a3bf;
}

.swapButton {
    width: 60px;
    height: 60px;
    background: #3563e9;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
