@import '../../../assets/styles/base/variables';

.right {
    width: 492px;
    height: 500px;
    padding: 24px 24px 32px 24px;
    background: #ffffff;
    border-radius: 10px;
}

.left {
    margin-right: 32px;
    position: relative;
    padding: 24px;
    border-radius: 10px;
    width: 492px;
    height: 508px;
    background: $main-color;
    background-image: url('/images/BG2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftTitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.leftSubtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.image {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%) scale(2);
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: $title-color;
}

.descr {
    margin-top: 64px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #3d5278;
}

.feature {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 245px);
    grid-template-rows: repeat(2, 28px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.featureItem {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $subtitle-color;
    span {
        right: 0;
        position: absolute;
        color: #3d5278;
        margin-right: 42px;
    }
}

.detailsBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 140px;
    height: 56px;
    background: $main-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: darken($main-color, 10%);
    }
}

.favorite {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.discount {
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: $subtitle-color;
}
