@import '../../../assets/styles/base/variables';

.order {
    margin: 32px 0;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.billing {
    max-width: 825px;
    margin-top: 32px;
    background: #ffffff;
    border-radius: 10px;
    padding: 24px;
    &:first-child {
        margin-top: 0;
    }
}

.billingTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
}

.billingSubtitle,
.billingStep {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $subtitle-color;
}

.billingStep {
    margin-top: 0px;
}

.billingInfo {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 386px);
    grid-template-rows: repeat(2, 92px);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.billingInfoTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $title-color;
}

.billingInput,
.paymentInput,
.city,
.date,
.time {
    margin-top: 16px;
    padding: 16px 195px 16px 32px;
    border: none;
    outline: none;
    background: #f6f7f9;
    border-radius: 10px;
}

.bigDot,
.bigSecondDot {
    margin-top: 32px;
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: rgba(53, 99, 233, 0.3);
    border-radius: 70px;
}

.bigSecondDot {
    background: rgba(92, 175, 252, 0.3);
}

.smallDot,
.smallSecondDot {
    position: absolute;
    width: 8px;
    height: 8px;
    background: $main-color;
    border-radius: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallSecondDot {
    background: $second-color;
}

.title {
    margin-top: 32px;
}

.confirmation {
    width: 715px;
    margin-top: 24px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    background: #f6f7f9;
    border-radius: 10px;
    label {
        margin-left: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #1f2544;
    }
}

input[type='checkbox'] {
    margin: 0;
}

.link {
    text-decoration: underline;
    color: #1f2544;
}

.button {
    margin-top: 48px;
    padding: 16px 32px;
    border: none;
    outline: none;
    background: $main-color;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
}

.payment {
    max-width: 804px;
    margin-top: 32px;
    background: #f6f7f9;
    border-radius: 10px;
}

.paymentInput {
    padding: 16px 150px 16px 32px;
    background: #ffffff;
    border-radius: 10px;
}

.city,
.time,
.date {
    width: 349px;
    padding: 16px;
}

.time {
    width: 319px;
}

fieldset {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.summary {
    height: 100%;
    margin-top: 32px;
    margin-left: 32px;
    padding: 24px;
    background: #ffffff;
    border-radius: 10px;
}

.summaryTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
}

.summarySubtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $subtitle-color;
}

.summaryImg {
    margin: 32px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 108px;
    background: $main-color;
    border-radius: 8px;
    background-image: url('/images/BG2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.carTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: $title-color;
}

.divider {
    margin-top: 32px;
    width: 444px;
    height: 0px;
    border: 1px solid rgba(195, 212, 233, 0.4);
}

.promocode {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background: #f6f7f9;
    border-radius: 10px;
}

.promocodeTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: $subtitle-color;
    border: none;
    outline: none;
    background: transparent !important;
}

.promocodeButton {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $title-color;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent !important;
}

.totalTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
}

.totalSubtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $subtitle-color;
}

.subtotal,
.tax {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $subtitle-color;
}

.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $title-color;
}
