@import '../../../assets/styles/base/variables';

.carCards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 304px);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.title {
    margin-top: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $subtitle-color;
}

.count {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $subtitle-color;

    position: absolute;
    right: 0;
}

.button {
    width: 156px;
    height: 44px;
    background: $main-color;
    border-radius: 4px;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    &:disabled {
        background: $subtitle-color;
        cursor: not-allowed;
        &:hover {
            background: darken($subtitle-color, 20%);
        }
    }
    &:active {
        background: #2a4db7;
    }
    &:hover {
        background: darken($main-color, 10%);
    }
}

.more {
    position: relative;
    padding: 64px 0;
}
