@import '../../assets/styles/base/variables';

.card {
    max-width: 304px;
    max-height: 388px;
    padding: 24px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    &:hover {
        transform: scale(1.035);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
}

.carInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carDetails {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $subtitle-color;
}

.title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
}

.favorite {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.15);
    }
}

.body {
    margin-top: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $subtitle-color;
}

.blur {
    position: absolute;
    width: 113%;
    height: 33%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
    span {
        font-size: 14px;
        line-height: 18px;
        color: $subtitle-color;
    }
}

.button {
    align-items: center;
    display: flex;
    max-width: 116px;
    height: 44px;
    padding: 0px 20px;
    background: $main-color;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: darken($main-color, 10%);
    }
}

.discount {
    margin-top: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: $subtitle-color;
}
